.notice-container {
  background-color: white; /* 배경색 */
  padding: 20px; /* 안쪽 여백 */
  border-radius: 8px; /* 모서리 둥글게 */
  margin-bottom: 20px; /* 아래 여백 */

}

.notice-title {
  font-size: 24px; /* 글자 크기 */
  margin-bottom: 10px; /* 아래 여백 */
  text-align: left;
  margin-top:100px;
}

.notice-content {
  font-size: 20px; /* 글자 크기 */
  line-height: 1.6; /* 줄 간격 */
  text-align: left;
  display:inline-block;
  padding-right:400px;
  margin-right:0%;
}
.board{
    margin-right: auto;
    margin-left:10%;
    margin-top:px;
    width:80%;
}
.titi{
font-size:32px;
font-weight:bold;
margin-bottom:-3px;
}
.auau{
font-size:20px;
}