.rank-box {
  width: 100%;
  height:680px;
  background-color: white;
  margin-right:4%;
  border-radius:20px;
  margin-bottom:50px;
  overflow-y: auto;
}
 .rank-heade{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size:25px;
    margin-top:20px;
    height:50px;
 }
  .sunu1{
    width:200px;
 }
 .sunu2{
width:380px;
 }
 .sunu3{
 width:240px;
 }
 .sunu4{
 width:235px;
}
.rank-number{
font-size:30px;
}
.notice-name{
}

.last-week-rank{
    font-size:30px;
}
.increase{
    font-size:20px;
    display:block;
}
.singer{
color:gray;
font-size:20px;
align-items:right;
}
