.small-box {
  width: 23%;
  height:850px;
  background-color: white;
  margin-right: auto;
  margin-left:4%;
  margin-top:100px;
  border-radius:20px;
  display: flex; /* Flexbox 레이아웃 설정 */
  flex-direction: column; /* 세로 방향으로 요소들을 정렬 */
  align-items: center;
}

.logos1 {
  margin-top:95px;
}
.logos2 {
  margin-top:105px;
  margin-left:10px;
}

.logos3 {
  margin-top:105px;
  margin-left:-27px;
}
.logos4 {
  margin-top:105px;
  margin-left:20px;
}
.logos5 {
  margin-top:105px;
  margin-left:0px;
}