.small-box {
  width: 23%;
  height:340px;
  background-color: white;
  margin-right: auto;
  margin-left:4%;
  margin-top:100px;
  border-radius:20px;
}

.logos1 {
  width: 200px;
  margin-top:45px;
}
.logos2 {
  width: 200px;
  margin-top:55px;
  margin-left:10px;
}

.logos3 {
  width: 200px;
  margin-top:45px;
  margin-left:-27px;
}