.App {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #F9F9F9;
  text-align: center;
}
.video-list {
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  align-items: center;
  width: 100%;
}

.video-description {
  color: black;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}
